<div>
    <h1>Directivas angular</h1>

    <ul>
        <li *ngFor="let num of numeros" [ngClass]="{
            par: num % 2== 0,
            impar: num % 2 != 0
        }">
            {{num}}
        </li>
    </ul>
    <!-- <ul>
        <li *ngFor="let num of numeros" [class.par] ="num % 2 == 0" [class.impar] = "num % 2 != 0"> {{num}}</li>
    </ul> -->
    <h2>Número de deportes {{ sports.length }}</h2>
    <!-- DIRECTIVA IF -->
    <div *ngIf="sports.length < 6; then condiciontrue; else condicionales">
    </div>
    <ng-template #condiciontrue>
        <p style="color:red">
            Tienes menos de 6 deportes
        </p>
    </ng-template>
    <p>El primer deporte es: {{ sports[0] }}</p>
    <ul>
        <li *ngFor="let deporte of sports; let i = index">
            Index: {{ i }}, Deporte: {{deporte}}
        </li>
    </ul>
</div>
<ng-template #condicionales>
    <h1>condicional</h1>
</ng-template>